<h2>issueTemplates</h2>

<% @issueTemplates.each do |t| %>
    <p>
        <%= l(:issue_title) %>
        <%= t.title %>
    </p>
    <p>
        <%= l(:issue_content) %>
        <%= t.content %>
    </p>
<% end %>
